[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
requests = "*"
beautifulsoup4 = "*"
smart-open = {extras = ["s3", "http"], version = "*"}
polars = "0.20.7"
s3fs = "2024.2.0"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.9"
